<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A New Hike</title>
</head>
<body>
    <h1>Create A New Hike</h1>
    <a href="/hikes">Cancel</a>
    <a href="/">Go Back Home</a>

    <form action="/hikes" method="POST">
        Name:<input type="text" name="Name"><br>
        Length:<input type= "text" name="Length"><br>
        Intensity:<input type="text" name="Intensity"><br>
        Location:<input type="text" name="Location"><br>
        <input type="submit" value="Add Hike">
    </form>

</body>
</html>