<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Wandering Washington</title>
</head>
<body>
    <header>
        <h1>Wandering Washington</h1>
    </header>
    <main>
        <p class="about">Welcome to Wandering Washington, where you can view local hikes around Washington State and track your own hikes</p>
        <p class="hikelink"><a href="/hikes" style="color: white">Click here to keep track of your own hikes!</a></p>
    <div>
        <h2>Featured Hikes</h2>
        <ul>
        <li><h3>Forbidden Forest</h3>
            Port Gamble, WA<br>
            4.6 miles<br>
            Moderate<br>
            Dog Friendly<br>
            <img src="https://cdn-assets.alltrails.com/uploads/photo/image/13359854/extra_large_e5e5192c10df1691152f492cdc70f903.jpg" alt="Forbidden Forest" width="300px" height="200px">
        </li>
        <li>
            <h3>Cherry Creek Falls</h3>
            Marckworth Forest<br>
            4.9 miles<br>
            Easy<br>
            Waterfall View<br>
            <img src="https://cdn-assets.alltrails.com/uploads/photo/image/19274318/extra_large_facd8d1e34dba5a6d989bdcfb8f5083d.jpg" width="300px" height="200px" alt="waterfall">
        </li>
        <li>
            <h3>Lake 22</h3>
            Mt. Baker Snoqualmie National Forest<br>
            7.0 miles<br>
            Hard<br>
            Lake View<br>
            <img src="https://cdn-assets.alltrails.com/uploads/photo/image/31342397/extra_large_2b305bff278739e802e50fd88d251fb8.jpg" width="300px" height="200px" alt="waterfall">
        </li>
        <li>
            <h3>Pipeline Trail to Lookout Loop</h3>
            Lord Hill Regional Park, Snohomish, WA<br>
            4.0 miles<br>
            Moderate<br>
            Dog Friendly<br>
            <img src="https://cdn-assets.alltrails.com/uploads/photo/image/31101485/extra_large_a3ace24f5d69cdf236fda7c551b1ec1d.jpg" width="300px" height="200px" alt="waterfall">
        </li>
        <li>
            <h3>Burke-Gilman Trail</h3>
            Kenmore, WA<br>
            17.2 miles<br>
            Moderate<br>
            Dog Friendly<br>
            <img src="https://cdn-assets.alltrails.com/uploads/photo/image/11166471/extra_large_1eec40e8245533cdd4452df7bb0220bc.jpg" width="300px" height="200px" alt="waterfall">
        </li>
        <li>
            <h3>Raven & Coyote Trail Loop</h3>
            Bridal Trails State Park<br>
            5.5 miles<br>
            Hard<br>
            Dog Friendly<br>
            <img src="https://cdn-assets.alltrails.com/uploads/photo/image/29228625/extra_large_17176e35184d464d804cbd2999c7fa89.jpg" width="300px" height="200px" alt="waterfall">
        </li>
        <li>
            <h3>Goat Lake Trail</h3>
            Darrington, WA<br>
            10.6 miles<br>
            Moderate<br>
            Lake View<br>
            <img src="https://cdn-assets.alltrails.com/uploads/photo/image/30871890/extra_large_a5effcbeb5aa339797f59892adc086e8.jpg" width="300px" height="200px" alt="waterfall">
        </li>
        <li>
            <h3>Lake Serene & Bridal Veil Falls</h3>
            Mt. Baker National Forest<br>
            7.5 miles<br>
            Hard<br>
            Lake & Waterfall View<br>
            <img src="https://cdn-assets.alltrails.com/uploads/photo/image/31275315/extra_large_81cbb059d6e36c094e0e0ad9bb850b36.jpg" width="300px" height="200px" alt="waterfall">
        </li>
        <li>
            <h3>Moses Lake</h3>
            Carnation, WA<br>
            3.7<br>
            Easy<br>
            Less Traveled Trail<br>
            <img src="https://cdn-assets.alltrails.com/uploads/photo/image/19787175/extra_large_51b46766819d40d2c0da81cbe958d6dc.jpg" width="300px" height="200px" alt="waterfall">
        </li>
        <li>
            <h3>Ephemeral to Big Leaf Trail Loop</h3>
            Paradise Valley Conservation Area<br>
            1.8 miles<br>
            Easy<br>
            Less Traveled Trail<br>
            <img src="https://cdn-assets.alltrails.com/uploads/photo/image/26886974/extra_large_539aa2b23449e33372726c22ceb59976.jpg" width="300px" height="200px" alt="waterfall">
            </li>
        </ul>
    </div>
 
    </main>
    <footer>
        <p class="footer">Have Suggestions? <a href="/contact">Contact Us!</a></p>
    </footer>
</body>
</html>