<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Wandering Washington</title>
</head>
<body>
    <header>
        <h1>Wandering Washington</h1>
    </header>
    <main>
        <p class="about">Welcome to Wandering Washington, where you can view local hikes around Washington State and track your own hikes</p>
    <div>
        <h2>Featured Hikes</h2>
        <ul>
        <li><h3>Forbidden Forest</h3>
            Port Gamble, WA<br>
            4.6 miles<br>
            Moderate<br>
            Dog Friendly<br>
            <img src="https://cdn-assets.alltrails.com/uploads/photo/image/13359854/extra_large_e5e5192c10df1691152f492cdc70f903.jpg" alt="Forbidden Forest" width="300px" height="200px"</li>
        <li>
            <h3>Cherry Creek Falls</h3>
            Marckworth Forest<br>
            4.9 miles<br>
            Easy<br>
            Best Waterfall View<br>
            <img src="https://cdn-assets.alltrails.com/uploads/photo/image/19274318/extra_large_facd8d1e34dba5a6d989bdcfb8f5083d.jpg" width="300px" height="200px" alt="waterfall"
        </li>
        <li>
            <h3>Lake 22</h3>
            Mt. Baker Snoqualmie National Forest<br>
            7.0 miles<br>
            Hard<br>
            Best Lake View<br>
            <img src="https://cdn-assets.alltrails.com/uploads/photo/image/31342397/extra_large_2b305bff278739e802e50fd88d251fb8.jpg" width="300px" height="200px" alt="waterfall"
        </li>
        </ul>
    </div>
        <p class="hikelink"><a href="/hikes" style="color: white">Click here to keep track of your own hikes!</a></p>
    </main>
    <footer>
        <p class="footer">Have Suggestions? <a href="/contact">Contact Us!</a></p>
    </footer>
</body>
</html>