<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Wandering Washington</title>
</head>
<body>
    <header>
        <h1>Wandering Washington</h1>
        <p>Welcome to Wandering Washington, where you can explore local hikes around Washington and create your own list to keep track of your own hikes and experiences</p>
    </header>
    <main>
        <a href="/dog-hikes">Click here to view Dog Friendly hikes</a><br>
        <a href="/water-hikes">Click here to view the best waterfall/lake hikes</a><br>
        <a href="/less-traveled">Click here to view trails less traveled</a><br>
        <a href="/hikes">Click here to keep track of your own hikes!</a>
    </main>
    <footer>
        <p>Have Suggestions? <a href="/contact">Contact Us!</a></p>
    </footer>
</body>
</html>